.table-element {
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0);
  width: 5.555%;
  justify-content: center;
  align-items: center;
  padding: 3px 0 3px 0;
}
.element-inner-wrapper {
  box-shadow: 1px 2px 10px;
  overflow-x: hidden;
}
.element-unknown {
  background-color: rgb(233, 233, 233);
}
.element-diatomic-nonmetal {
  background-color: rgb(244, 254, 158);
}
.element-polyatomic-nonmetal {
  background-color: rgb(244, 254, 158);
}
.element-metalloid {
  background-color: rgb(205, 205, 159);
}
.element-alkali-metal {
  background-color: rgb(239, 111, 107);
}
.element-alkaline-earth-metal {
  background-color: rgb(251, 224, 181);
}
.element-transition-metal {
  background-color: rgb(247, 197, 195);
}
.element-post-transition-metal {
  background-color: rgb(190, 181, 177);
}
.element-noble-gas {
  background-color: lightblue;
}
.element-lanthanide {
  background-color: rgb(246, 196, 251);
}
.element-actinide {
  background-color: rgb(243, 160, 203);
}
.element-undefined {
  background-color: white;
  color: white;
}

.element-number {
  display: block;
  text-align: center;
  font-size: 10px;
}
.element-symbol {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.element-name {
  display: block;
  text-align: center;
  font-size: 8px;
}
.element-atomic-mass {
  display: block;
  text-align: center;
  font-size: 8px;
}
.element-shells {
  display: block;
  text-align: center;
  font-size: 6px;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active {
  font-size: 1.1em;
  color: red;
  background-color: black;
}
