.PeriodicTable-outer-wrapper {
}
.PeriodicTable-inner-wrapper {
}
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 20px 100px 0 100px;
}
